.ev {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #ename {
    font-size: 24px;
    font-weight: bold;
    margin-right: 90%;
  }
  
  #damn {
    margin: 8px 0;
    margin-right: 76%;
    width: 23%
  }
  
  #et {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  .proty {
    margin-left: 10px;
  }
  
  .fdate {
    margin-left: 10px;
  }
  
  .tdate {
    margin-left: 10px;
  }
  
  #bud {
    margin-left: 10px;
  }
  
  #fi-ev {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  #icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 92%;
  }
  
  #trash {
    margin-right: 10px;

    color: red;
    cursor: pointer;
  }
  
  #trash:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
  
  #edit {
    margin-left: 10px;
    color: green;
    cursor: pointer;
  }
  
  #edit:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }